@import 'vars';
@import 'fonts';
@import 'libs';

::placeholder {
	color: #666
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,
textarea {
	outline: none;

	&:focus:required:invalid {
		border-color: red;
	}

	&:required:valid {
		border-color: green
	}
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'Roboto',
		sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	color: red;
}

img {
	display: block;
	border: 0;
	opacity: 0;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

img:not(.initial) {
	transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
	opacity: 1;
}

img:not([src]) {
	visibility: hidden;
}